<?xml version="1.0"?>
<configuration>

  <!-- Web Tanımları-->
  <system.web>

    <compilation debug="true"/>
    <!-- Custom Errors-->
    <customErrors mode="Off"/>
    <!-- Globalize-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" enableClientBasedCulture="false" culture="tr-TR" uiCulture="tr-TR"/>
    <!-- Http Runtime-->
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    <!-- Session State-->
    <sessionState mode="InProc" timeout="5"/>

  </system.web>
  <!-- Web Server Tanımları-->
  <system.webServer>
    <!-- Statics -->
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".log"/>
      <mimeMap fileExtension=".log" mimeType="text/plain"/>
    </staticContent>
  </system.webServer>
</configuration>